<nz-page-header [nzTitle]="bit.title|Locale:bit.locale">
  <nz-page-header-extra>
    <button nz-button nzType="primary" [bitOpen]="['acl-add']">
      <span>{{bit.l['add']}}</span>
    </button>
  </nz-page-header-extra>
</nz-page-header>

<nz-card>
  <nz-space>
    <nz-space-item *ngIf="bit.hasSearch('name->'+bit.locale)">
      <nz-input-group nzSearch [nzAddOnAfter]="nzAddOnAfter" style="width: 320px">
        <input
          nz-input
          bitSearchStart="acl-index"
          [placeholder]="bit.l['search']"
          [(ngModel)]="bit.search['name->'+bit.locale].value"
          (after)="getLists(true)"
        >
      </nz-input-group>
      <ng-template #nzAddOnAfter>
        <button
          nz-button
          nzType="primary"
          nzSearch
          bitSearchStart="acl-index"
          (after)="getLists(true)"
        >
          <i nz-icon nzType="search"></i>
        </button>
      </ng-template>
    </nz-space-item>
    <nz-space-item>
      <button nz-button nzType="default" (click)="getLists(true)">
        <i nz-icon nzType="sync"></i> {{bit.l['refreshLists']}}
      </button>
    </nz-space-item>
    <nz-space-item>
      <button
        nz-button
        nzType="default"
        bitSearchClear="acl-index"
        (after)="getLists(true)"
      >
        <i nz-icon nzType="clear"></i> {{bit.l['clearSearch']}}
      </button>
    </nz-space-item>
    <nz-space-item>
      <button
        nz-button
        nzType="danger"
        [disabled]="bit.listsDisabledAction"
        (click)="deleteCheckData()"
      >
        <i nz-icon nzType="rest"></i> {{bit.l['bulkDelete']}}
      </button>
    </nz-space-item>
  </nz-space>

  <nz-divider [nzDashed]="true"></nz-divider>

  <nz-table
    #table
    [nzData]="lists"
    [nzLoading]="bit.listsLoading"
    [nzTotal]="bit.listsTotals"
    [nzPageSize]="bit.pageLimit"
    [nzFrontPagination]="false"
    [(nzPageIndex)]="bit.listsPageIndex"
    (nzPageIndexChange)="getLists()"
    nzSize="middle"
  >
    <thead>
    <tr>
      <th
        nzShowCheckbox nzWidth="65px"
        [(nzChecked)]="bit.listsAllChecked"
        [nzIndeterminate]="bit.listsIndeterminate"
        (nzCheckedChange)="bit.listsCheckAll($event,lists)"
      >
      </th>
      <th nzWidth="120px">{{bit.l['name']}}</th>
      <th nzWidth="120px">{{bit.l['key']}}</th>
      <th>{{bit.l['write']}}</th>
      <th>{{bit.l['read']}}</th>
      <th nzWidth="100px">{{bit.l['status']}}</th>
      <th nzWidth="155px"
          nzRight="0px">{{bit.l['action']}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of table.data">
      <td nzShowCheckbox
          [(nzChecked)]="data.checked"
          (nzCheckedChange)="bit.listsRefreshStatus(lists)"></td>
      <td>{{data.name|Locale:bit.locale}}</td>
      <td>{{data.key}}</td>
      <td>{{data.write}}</td>
      <td>{{data.read}}</td>
      <td>
        <nz-switch [(ngModel)]="data.status"
                   [nzCheckedChildren]="bit.l['on']"
                   [nzUnCheckedChildren]="bit.l['off']"
                   [bitStatusChange]="aclService.status(data)">
        </nz-switch>
      </td>
      <td>
        <a [bitOpen]="['acl-edit',data.id]">
          <i nz-icon nzType="edit"></i> {{bit.l['edit']}}
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="deleteData(data.id)">
          <i nz-icon nzType="delete"></i> {{bit.l['delete']}}
        </a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
